body {
    width: 100%;
    font-family: Arial, sans-serif;
}

#game {
    text-align: center;
}

#choices {
    display: flex;
    padding: 0 10%;
}

.food {
    width: 50%;
}

.food img.image {
    height: 50%;
    width: 50%;
    cursor: pointer;
    margin-bottom: 2%;
}

.food .name, .food .sugar {
    font-weight: bold;
    margin-bottom: 1%;
}

.food .name {
    font-weight: bold;
}

#answer, #next-btn {
    border-radius: 5px;
    margin: 2% auto;
    padding: 2%;
}

#answer {
    width: 50%;
}

#answer.correct {
    background-color: #9F9;
}

#answer.wrong {
    background-color: #F99;
}

#next-btn {
    background-color: #999;
    width:33%;
    cursor: pointer;
}

#footer {
    margin-top: 3.5%;
    text-align: center;
    font-size: small;
}